// colors
$white: #FFFFFF;
$orange: #FE5244;
$blue: #124A9B;
$hover-blue: #115DCC;
$success-green: #3FB1B5;
$background-gray: #F9F9F9;
$background-block-gray: #C4C4C4;
$text-block-gray: #808080;
$graffiti-text: #333333;

//icons class
//brain: fas fa-brain
//search: fas fa-search
//user: fas fa-user-alt
//pen: fas fa-pen-square
//find-mentor: fas fa-chalkboard-teacher
//mentor: fas fa-hands-helping
//vagas: fas fa-briefcase
//user-add: fas fa-user-plus
//whats: fab fa-whatsapp
//email: fas fa-envelope
//calender: fas fa-calendar
//list: fas fa-list
//map: fas fa-map-marked