.btn {
  @include btn('Roboto', 400);
  @include btn-type(100%, $white);
  height: 40px;
  margin: 0 0 16px;
  background-color: $blue;
  border-radius: 8px;
  &:hover {
    background-color: lighten($color: $hover-blue, $amount: 0);
  }
  
  &__primary {
    margin-top: 26px;
    font-size: 18px;
  }
  
  &__secondary {
    padding-left: 26px;
    display: flex;
    align-items: center;
    font-size: 14px;
    @media (min-width: 768px){
      padding: 26px;
    }
    & i {
      margin-right: 16px;
      font-size: 24px;
    }
    &--success-green {
      background-color: $success-green;
      &:hover {
        background-color: lighten($color: $success-green, $amount: 15);
      }
      & [disabled] {
        &:hover {
          background-color: $success-green;
        }
      }
    }
    &--block-gray {
      background-color: $background-block-gray;
      color: $text-block-gray;

      &:hover {
        background-color: lighten($color: $background-block-gray, $amount: 7);
      }
      
      & [disabled] {
        &:hover {
          background-color: $background-block-gray;
          color: $text-block-gray;
        }
    }
    }
  }
}